.container2{
    margin: auto;
    width: 50%;
}
h2{
    color: black;
}
.form-label{
    color: black;
}
.form-text{
    color: black;
}
.form-check{
    color: black;
}
hr{
    margin: 0;
    padding: 0;
    color: black;
    width: 100%;
}
.btn{
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}
.links{
    align-items: start;
    color: white;
    text-decoration: none;
}
.scrollbar{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.scrollbar::-webkit-scrollbar{
    display: none;
}
.C_Link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }
  
.C_Link:hover {
    background-color: white;
  }
.C_dashBoard {
    height: 100vh;
    width: 100wh;
    background-color: white;
  }