.container{
    justify-content: center;
    height: auto;
    width: 30vw;
    margin: auto;
    position: absolute;
    top: 15%;
    left: 35%;
    background-color: white;
    padding: 65px;     
}
h2{
    color: black;
}
.form-label{
    color: black;
}
.form-text{
    color: black;
}
.form-check{
    color: black;
}
hr{
    margin: 0;
    padding: 0;
    color: black;
    width: 100%;
}
.btn{
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}
.links{
    align-items: start;
    color: black;
    text-decoration: none;
}